In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

In [4]:
df = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/clean_df_midterm.csv')
# Remove commas from the 'votes' column
df['votes'] = df['votes'].str.replace(',', '')

# Convert the 'votes' column to integer type
df['votes'] = df['votes'].astype(int)

In [5]:
df = df.drop('poster', axis=1)

In [6]:
df = df.drop('Unnamed: 0', axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2223 entries, 0 to 2222
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          2223 non-null   object
 1   imdbid         2223 non-null   float64
 2   bechdel_id     2223 non-null   int64
 3   bechdel_score  2223 non-null   int64
 4   year           2223 non-null   int64
 5   certificate    2223 non-null   object
 6   runtime        2223 non-null   object
 7   genre          2223 non-null   object
 8   imdb_rating    2223 non-null   float64
 9   about          2223 non-null   object
 10  director       2223 non-null   object
 11  stars          2223 non-null   object
 12  votes          2223 non-null   int64
 13  gross_earn     2223 non-null   object
 14  genre_1        2223 non-null   object
 15  genre_2        2070 non-null   object
 16  genre_3        1552 non-null   object
dtypes: float64(2), int64(4), object(11)
memory usage: 295.4+ KB

In [8]:
df

,title,imdbid,bechdel_id,bechdel_score,year,certificate,runtime,genre,imdb_rating,about,director,stars,votes,gross_earn,genre_1,genre_2,genre_3
0,Sherlock Jr.,15324.0,2011,0,1924,U,45 min,"Action, Comedy, Romance",8.2,"A film projectionist longs to be a detective, ...",Buster Keaton,"('Buster Keaton',), ('Kathryn McGuire',), ('Jo...",49517,$0.98M,Action,Comedy,Romance
1,Battleship Potemkin,15648.0,1308,0,1925,Rejected,75 min,"Drama, History, Thriller",8.0,In the midst of the Russian Revolution of 1905...,Sergei Eisenstein,"('Aleksandr Antonov',), ('Vladimir Barskiy',),...",57550,$0.05M,Drama,History,Thriller
2,Sunrise: A Song of Two Humans,18455.0,1632,2,1927,A,94 min,"Drama, Romance",8.1,A sophisticated urban woman seduces a farmer i...,F.W. Murnau,"(""George O'Brien"",), ('Janet Gaynor',), ('Marg...",50942,$0.54M,Drama,Romance,NaN
3,All Quiet on the Western Front,20629.0,1316,0,1930,PG,152 min,"Drama, War",8.1,"A German youth eagerly enters World War I, but...",Lewis Milestone,"('Lew Ayres',), ('Louis Wolheim',), ('John Wra...",61320,$3.27M,Drama,War,NaN
4,M,22100.0,610,3,1931,A,117 min,"Crime, Mystery, Thriller",8.3,When the police in a German city are unable to...,Fritz Lang,"('Peter Lorre',), ('Ellen Widmann',), ('Inge L...",156810,$0.03M,Crime,Mystery,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218,Ghost in the Shell,1219827.0,7551,3,2017,15,83 min,"Animation, Action, Crime",7.9,A cyborg policewoman and her partner hunt a my...,Mamoru Oshii,"('Atsuko Tanaka',), ('Iemasa Kayumi',), ('Akio...",141897,$0.52M,Animation,Action,Crime
2219,King Arthur,1972591.0,7608,1,2017,12A,126 min,"Action, Adventure, Drama",6.3,A demystified take on the tale of King Arthur ...,Antoine Fuqua,"('Clive Owen',), ('Stephen Dillane',), ('Keira...",167734,$51.88M,Action,Adventure,Drama
2220,Murder on the Orient Express,3402236.0,7919,3,2017,A,128 min,"Crime, Drama, Mystery",7.3,"In December 1935, when his transcontinental lu...",Sidney Lumet,"('Albert Finney',), ('Lauren Bacall',), ('Ingr...",62253,$0.07M,Crime,Drama,Mystery
2221,Pet Sematary,837563.0,8824,3,2019,18,103 min,"Fantasy, Horror, Thriller",6.5,"After tragedy strikes, a grieving father disco...",Mary Lambert,"('Dale Midkiff',), ('Denise Crosby',), ('Fred ...",103833,$57.47M,Fantasy,Horror,Thriller
2222,Bad Education,8206668.0,9204,3,2019,15,106 min,"Crime, Drama",7.4,An examination on the effect of Franco-era rel...,Pedro Almodóvar,"('Gael García Bernal',), ('Fele Martínez',), (...",59964,$5.21M,Crime,Drama,NaN

In [25]:
#clean $ and M signs
df['gross_earn'] = df['gross_earn'].str[:-1]
df['gross_earn'] = df['gross_earn'].str[1:]
#convert to float and to millions
df['gross_earn'] = df['gross_earn'].astype(float) * 1000000

In [34]:
df

,title,imdbid,bechdel_id,bechdel_score,year,certificate,runtime,genre,imdb_rating,about,director,stars,votes,gross_earn,genre_1,genre_2,genre_3
0,Sherlock Jr.,15324.0,2011,0,1924,U,45 min,"Action, Comedy, Romance",8.2,"A film projectionist longs to be a detective, ...",Buster Keaton,"('Buster Keaton',), ('Kathryn McGuire',), ('Jo...",49517,980000.0,Action,Comedy,Romance
1,Battleship Potemkin,15648.0,1308,0,1925,Rejected,75 min,"Drama, History, Thriller",8.0,In the midst of the Russian Revolution of 1905...,Sergei Eisenstein,"('Aleksandr Antonov',), ('Vladimir Barskiy',),...",57550,50000.0,Drama,History,Thriller
2,Sunrise: A Song of Two Humans,18455.0,1632,2,1927,A,94 min,"Drama, Romance",8.1,A sophisticated urban woman seduces a farmer i...,F.W. Murnau,"(""George O'Brien"",), ('Janet Gaynor',), ('Marg...",50942,540000.0,Drama,Romance,NaN
3,All Quiet on the Western Front,20629.0,1316,0,1930,PG,152 min,"Drama, War",8.1,"A German youth eagerly enters World War I, but...",Lewis Milestone,"('Lew Ayres',), ('Louis Wolheim',), ('John Wra...",61320,3270000.0,Drama,War,NaN
4,M,22100.0,610,3,1931,A,117 min,"Crime, Mystery, Thriller",8.3,When the police in a German city are unable to...,Fritz Lang,"('Peter Lorre',), ('Ellen Widmann',), ('Inge L...",156810,30000.0,Crime,Mystery,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218,Ghost in the Shell,1219827.0,7551,3,2017,15,83 min,"Animation, Action, Crime",7.9,A cyborg policewoman and her partner hunt a my...,Mamoru Oshii,"('Atsuko Tanaka',), ('Iemasa Kayumi',), ('Akio...",141897,520000.0,Animation,Action,Crime
2219,King Arthur,1972591.0,7608,1,2017,12A,126 min,"Action, Adventure, Drama",6.3,A demystified take on the tale of King Arthur ...,Antoine Fuqua,"('Clive Owen',), ('Stephen Dillane',), ('Keira...",167734,51880000.0,Action,Adventure,Drama
2220,Murder on the Orient Express,3402236.0,7919,3,2017,A,128 min,"Crime, Drama, Mystery",7.3,"In December 1935, when his transcontinental lu...",Sidney Lumet,"('Albert Finney',), ('Lauren Bacall',), ('Ingr...",62253,70000.0,Crime,Drama,Mystery
2221,Pet Sematary,837563.0,8824,3,2019,18,103 min,"Fantasy, Horror, Thriller",6.5,"After tragedy strikes, a grieving father disco...",Mary Lambert,"('Dale Midkiff',), ('Denise Crosby',), ('Fred ...",103833,57470000.0,Fantasy,Horror,Thriller
2222,Bad Education,8206668.0,9204,3,2019,15,106 min,"Crime, Drama",7.4,An examination on the effect of Franco-era rel...,Pedro Almodóvar,"('Gael García Bernal',), ('Fele Martínez',), (...",59964,5210000.0,Crime,Drama,NaN

In [35]:
df.to_csv('clean_for_modelling.csv', index=False)