In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.set_option('display.max_rows', 1000)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 1000)

from fuzzywuzzy import fuzz

In [3]:
# Load the datasets and investigate 
df1 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Movie Bechdel Test Scores/Bechdel.csv')
df2 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/FINAL DATASETS SELECTION/2Mmovies.csv')

/var/folders/k8/l3hrl_fn5y7bx5qcfv9y8p900000gn/T/ipykernel_55698/878154895.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/FINAL DATASETS SELECTION/2Mmovies.csv')

In [4]:
df1 = df1.drop('Unnamed: 0', axis=1)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9373 entries, 0 to 9372
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   9373 non-null   object
 1   imdbid  9373 non-null   float64
 2   id      9373 non-null   int64
 3   rating  9373 non-null   int64
 4   year    9373 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 366.3+ KB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2590932 entries, 0 to 2590931
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   name            object
 2   year            object
 3   rating          float64
 4   certificate     object
 5   duration        object
 6   genre           object
 7   votes           object
 8   gross_income    object
 9   directors_id    object
 10  directors_name  object
 11  stars_id        object
 12  stars_name      object
 13  description     object
dtypes: float64(1), object(13)
memory usage: 276.7+ MB

In [9]:
df2 = df2.rename(columns={'id': 'imdbid'})

In [11]:
df2['imdbid'] = df2['imdbid'].str[2:]

In [13]:
df2['imdbid'] = df2['imdbid'].astype('float64')

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2590932 entries, 0 to 2590931
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   imdbid          float64
 1   name            object
 2   year            object
 3   rating          float64
 4   certificate     object
 5   duration        object
 6   genre           object
 7   votes           object
 8   gross_income    object
 9   directors_id    object
 10  directors_name  object
 11  stars_id        object
 12  stars_name      object
 13  description     object
dtypes: float64(2), object(12)
memory usage: 276.7+ MB

In [15]:
merged_df = pd.merge(df1, df2, on='imdbid')

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6592 entries, 0 to 6591
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           6592 non-null   object
 1   imdbid          6592 non-null   float64
 2   id              6592 non-null   int64
 3   rating_x        6592 non-null   int64
 4   year_x          6592 non-null   int64
 5   name            6592 non-null   object
 6   year_y          6592 non-null   object
 7   rating_y        6592 non-null   float64
 8   certificate     6592 non-null   object
 9   duration        6592 non-null   object
 10  genre           6592 non-null   object
 11  votes           6592 non-null   object
 12  gross_income    6592 non-null   object
 13  directors_id    6592 non-null   object
 14  directors_name  6592 non-null   object
 15  stars_id        6592 non-null   object
 16  stars_name      6592 non-null   object
 17  description     6592 non-null   object
dtypes: float64(2), int64(3), object(13)
memory usage: 978.5+ KB

In [18]:
nan_percentage = merged_df.isna().mean() * 100

# Print the percentage of missing values for each column
print(nan_percentage)

title             0.0
imdbid            0.0
id                0.0
rating_x          0.0
year_x            0.0
name              0.0
year_y            0.0
rating_y          0.0
certificate       0.0
duration          0.0
genre             0.0
votes             0.0
gross_income      0.0
directors_id      0.0
directors_name    0.0
stars_id          0.0
stars_name        0.0
description       0.0
dtype: float64