In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

Box Office Performance of Movies with Female Leads

In [2]:
df = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Box Office Performance of Movies with Female Leads/movies.csv')

In [3]:
df

,index,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
1,1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0
2,2,2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,1.0,1.0
3,3,2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0,1.0,1.0
4,4,2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789,1789,1971,tt0067741,Shaft,notalk,notalk,FAIL,53012938,70327868.0,107190108.0,1971FAIL,305063707,404702718.0,616827003.0,NaN,NaN
1790,1790,1971,tt0067800,Straw Dogs,notalk,notalk,FAIL,25000000,10324441.0,11253821.0,1971FAIL,143862856,59412143.0,64760273.0,NaN,NaN
1791,1791,1971,tt0067116,The French Connection,notalk,notalk,FAIL,2200000,41158757.0,41158757.0,1971FAIL,12659931,236848653.0,236848653.0,NaN,NaN
1792,1792,1971,tt0067992,Willy Wonka &amp; the Chocolate Factory,men-disagree,men,FAIL,3000000,4000000.0,4000000.0,1971FAIL,17263543,23018057.0,23018057.0,NaN,NaN
1793,1793,1970,tt0065466,Beyond the Valley of the Dolls,ok,ok,PASS,1000000,9000000.0,9000000.0,1970PASS,5997631,53978683.0,53978683.0,NaN,NaN

In [4]:
df_imdb = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/additional datasets/movies.csv')

In [14]:
df.head()

,index,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
1,1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0
2,2,2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,1.0,1.0
3,3,2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0,1.0,1.0
4,4,2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0,1.0,1.0

In [15]:
df.sort_values('clean_test').groupby('binary')
#  ok - 3 pass, notalk - ? , men - ? , dubious - 0 FAIL, nowomen?

#dataset assumes in the binary collumn to have failed always unless all conditions are met, Label encoding

In [16]:
df.groupby(['clean_test', 'binary']).mean('budget')

,,index,year,budget,domgross,intgross,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
clean_test,binary,,,,,,,,,,
dubious,FAIL,853.394366,2002.873239,4.926338e+07,7.600930e+07,1.693415e+08,5.999669e+07,1.050772e+08,2.190464e+08,2.233871,1.846774
men,FAIL,917.154639,2001.768041,4.512710e+07,6.897428e+07,1.462247e+08,5.504335e+07,9.669184e+07,1.912585e+08,2.464286,1.952381
notalk,FAIL,928.169261,2001.719844,5.322557e+07,7.936485e+07,1.753821e+08,6.691460e+07,1.151136e+08,2.396717e+08,2.455556,1.964444
nowomen,FAIL,957.361702,2001.234043,4.860674e+07,6.622318e+07,1.465569e+08,6.208018e+07,9.890629e+07,2.063421e+08,2.483333,1.933333
ok,PASS,868.174346,2003.449564,3.792917e+07,6.188565e+07,1.326719e+08,4.627417e+07,7.959192e+07,1.673600e+08,2.409031,1.933599

In [17]:
df.sort_values('binary')

,index,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,4.219577e+07,1.0,1.0
1089,1089,2002,tt0246460,Die Another Day,men-disagree,men,FAIL,142000000,160942139.0,431942139.0,2002FAIL,183915449,208448913.0,5.594425e+08,3.0,2.0
1088,1088,2002,tt0266452,Death to Smoochy,men,men,FAIL,50000000,8355815.0,8374062.0,2002FAIL,64758961,10822278.0,1.084591e+07,3.0,2.0
1085,1085,2002,tt0264464,Catch Me If You Can,notalk-disagree,notalk,FAIL,52000000,164606800.0,351106800.0,2002FAIL,67349319,213195306.0,4.547462e+08,3.0,2.0
1081,1081,2002,tt0187738,Blade II,notalk,notalk,FAIL,54000000,81676888.0,154338601.0,2002FAIL,69939678,105786208.0,1.998961e+08,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,416,2010,tt1273678,The Spy Next Door,ok,ok,PASS,28000000,24307106.0,50983364.0,2010PASS,29910492,25965625.0,5.446205e+07,1.0,1.0
1092,1092,2002,tt0297884,Far from Heaven,ok,ok,PASS,13500000,15901849.0,29027914.0,2002PASS,17484919,20595744.0,3.759635e+07,3.0,2.0
1094,1094,2002,tt0327753,Funny Ha Ha,ok,ok,PASS,30000,77070.0,77070.0,2002PASS,38855,99819.0,9.981900e+04,3.0,2.0
1097,1097,2002,tt0295297,Harry Potter and the Chamber of Secrets,ok-disagree,ok,PASS,100000000,261987880.0,878979634.0,2002PASS,129517922,339321257.0,1.138436e+09,3.0,2.0
1793,1793,1970,tt0065466,Beyond the Valley of the Dolls,ok,ok,PASS,1000000,9000000.0,9000000.0,1970PASS,5997631,53978683.0,5.397868e+07,NaN,NaN

In [18]:
bechdel_pass_sorted =df.sort_values('binary')

In [19]:
bechdel_pass_sorted.value_counts('binary')

binary
FAIL    991
PASS    803
dtype: int64

In [20]:
 df.sort_values('domgross')

,index,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
486,486,2009,tt1024744,I Come with the Rain,nowomen,nowomen,FAIL,18000000,0.0,627422.0,2009FAIL,19543169,NaN,681212.0,2.0,2.0
510,510,2009,tt1003034,Perrier&#39;s Bounty,nowomen,nowomen,FAIL,6600000,828.0,828.0,2009FAIL,7165829,899.0,899.0,2.0,2.0
613,613,2008,tt1226681,Pontypool,nowomen-disagree,nowomen,FAIL,1500000,3865.0,31916.0,2008FAIL,1623384,4183.0,34541.0,2.0,2.0
153,153,2012,tt1874789,Supporting Characters,men,men,FAIL,60000,4917.0,4917.0,2012FAIL,60878,4989.0,4989.0,1.0,1.0
732,732,2007,tt0861739,Tropa de Elite,ok-disagree,ok,PASS,6537890,8744.0,14319195.0,2007PASS,7345604,9824.0,16088238.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,740,2006,tt0416496,Bandidas,ok,ok,PASS,35000000,NaN,18400000.0,2006PASS,40452872,NaN,21266653.0,2.0,2.0
769,769,2006,tt0490166,London To Brighton,ok,ok,PASS,825000,NaN,610776.0,2006PASS,953532,NaN,705933.0,2.0,2.0
1675,1675,1985,tt0088993,Day of the Dead,nowomen,nowomen,FAIL,18000000,NaN,NaN,1985FAIL,38971004,NaN,NaN,NaN,NaN
1678,1678,1985,tt0091578,My Beautiful Laundrette,men,men,FAIL,400000,NaN,NaN,1985FAIL,866022,NaN,NaN,NaN,NaN
1785,1785,1972,tt0068156,1776,notalk,notalk,FAIL,4000000,NaN,NaN,1972FAIL,22288557,NaN,NaN,NaN,NaN

In [21]:
df['year'].value_counts(bins= 10)

(2008.7, 2013.0]                562
(2004.4, 2008.7]                364
(2000.1, 2004.4]                289
(1995.8, 2000.1]                274
(1991.5, 1995.8]                 98
(1987.2, 1991.5]                 61
(1982.9, 1987.2]                 55
(1978.6, 1982.9]                 42
(1974.3, 1978.6]                 28
(1969.9560000000001, 1974.3]     21
Name: year, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1794 entries, 0 to 1793
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           1794 non-null   int64
 1   year            1794 non-null   int64
 2   imdb            1794 non-null   object
 3   title           1794 non-null   object
 4   test            1794 non-null   object
 5   clean_test      1794 non-null   object
 6   binary          1794 non-null   object
 7   budget          1794 non-null   int64
 8   domgross        1777 non-null   float64
 9   intgross        1783 non-null   float64
 10  code            1794 non-null   object
 11  budget_2013$    1794 non-null   int64
 12  domgross_2013$  1776 non-null   float64
 13  intgross_2013$  1783 non-null   float64
 14  period code     1615 non-null   float64
 15  decade code     1615 non-null   float64
dtypes: float64(6), int64(4), object(6)
memory usage: 224.4+ KB

In [23]:
df['code'].value_counts()

2009FAIL    82
2011FAIL    71
2010FAIL    68
2010PASS    61
2005PASS    54
2013FAIL    53
2011PASS    53
2008PASS    51
2008FAIL    50
2012FAIL    49
2006FAIL    47
2013PASS    46
2005FAIL    46
2004PASS    45
2002FAIL    43
2006PASS    43
2009PASS    42
2007PASS    41
1998FAIL    38
2012PASS    37
2002PASS    37
2004FAIL    36
2003PASS    34
2000FAIL    34
1999FAIL    33
2001PASS    33
2007FAIL    32
2001FAIL    31
2003FAIL    30
2000PASS    29
1997PASS    28
1998PASS    24
1999PASS    23
1997FAIL    23
1996FAIL    21
1996PASS    21
1995PASS    18
1995FAIL    18
1994FAIL    17
1992FAIL    16
1984FAIL    13
1987FAIL    12
1982FAIL    11
1980FAIL    10
1989FAIL    10
1988FAIL    10
1988PASS     9
1994PASS     9
1990FAIL     9
1981FAIL     8
1993PASS     8
1993FAIL     8
1991FAIL     7
1991PASS     6
1986FAIL     6
1985FAIL     6
1990PASS     6
1978FAIL     6
1976FAIL     5
1977FAIL     5
1974FAIL     5
1971FAIL     5
1975FAIL     5
1992PASS     4
1973FAIL     4
1980PASS     4
1989PASS     4
1985PASS     4
1986PASS     4
1982PASS     3
1979FAIL     3
1983FAIL     3
1984PASS     3
1976PASS     3
1972FAIL     2
1974PASS     2
1979PASS     2
1977PASS     2
1978PASS     2
1987PASS     2
1983PASS     2
1973PASS     1
1981PASS     1
1972PASS     1
1970PASS     1
Name: code, dtype: int64

Movie Bechdel Test Scores

In [24]:
df_b = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Movie Bechdel Test Scores/Bechdel.csv')

In [25]:
df_b.head()

   Unnamed: 0                       title      imdbid    id  rating  year
0           0            Passage de Venus   3155794.0  9602       0  1874
1           1           La Rosace Magique  14495706.0  9804       0  1877
2           2  Sallie Gardner at a Gallop   2221420.0  9603       0  1878
3           3           Le singe musicien  12592084.0  9806       0  1878
4           4     Athlete Swinging a Pick   7816420.0  9816       0  1881

In [26]:
df_b['year'].value_counts(bins=10)

(2006.3, 2021.0]      4431
(1991.6, 2006.3]      2323
(1976.9, 1991.6]       980
(1962.2, 1976.9]       581
(1947.5, 1962.2]       433
(1932.8, 1947.5]       327
(1918.1, 1932.8]       145
(1888.7, 1903.4]        92
(1903.4, 1918.1]        43
(1873.852, 1888.7]      18
Name: year, dtype: int64

In [27]:
bechdel_bechdel_sorted = df_b.sort_values('rating') # probably derived Bechdel Rating

In [28]:
bechdel_bechdel_sorted # 0 - does not pass, 1 - women have names, 2 - women talk to each other, 3 - talk to each other about stg other than men

      Unnamed: 0                title      imdbid     id  rating  year
0              0     Passage de Venus   3155794.0   9602       0  1874
4853        4853      Elephants Dream    807840.0   5248       0  2006
1907        1907           Banana Joe     82045.0   4584       0  1982
7877        7877          Point Break   2058673.0   6632       0  2015
6877        6877           Sushi Girl   1606339.0   6705       0  2012
...          ...                  ...         ...    ...     ...   ...
4306        4306  Million Dollar Baby    405159.0   1148       3  2004
4305        4305  Stepford Wives, The    327162.0   1131       3  2004
4304        4304      Say Yes Quickly    367462.0   1221       3  2004
4322        4322               Closer    376541.0   2032       3  2004
9372        9372   Single All The Way  14315756.0  10161       3  2021

[9373 rows x 6 columns]

In [29]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9373 entries, 0 to 9372
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9373 non-null   int64
 1   title       9373 non-null   object
 2   imdbid      9373 non-null   float64
 3   id          9373 non-null   int64
 4   rating      9373 non-null   int64
 5   year        9373 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 439.5+ KB

In [30]:
df_b['year'].value_counts(bins=10)

(2006.3, 2021.0]      4431
(1991.6, 2006.3]      2323
(1976.9, 1991.6]       980
(1962.2, 1976.9]       581
(1947.5, 1962.2]       433
(1932.8, 1947.5]       327
(1918.1, 1932.8]       145
(1888.7, 1903.4]        92
(1903.4, 1918.1]        43
(1873.852, 1888.7]      18
Name: year, dtype: int64

In [31]:
# Load the datasets and investigate 
df1 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Movie Bechdel Test Scores/Bechdel.csv')
df2 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/FINAL DATASETS SELECTION/Complete IMDB Movies ')

In [32]:
#only one column in df1 needs to be droppped
df1 = df1.drop('Unnamed: 0', axis=1)

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9373 entries, 0 to 9372
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   9373 non-null   object
 1   imdbid  9373 non-null   float64
 2   id      9373 non-null   int64
 3   rating  9373 non-null   int64
 4   year    9373 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 366.3+ KB

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   poster       5000 non-null   object
 1   title        5000 non-null   object
 2   certificate  5000 non-null   object
 3   runtime      5000 non-null   object
 4   genre        4970 non-null   object
 5   rating       5000 non-null   float64
 6   about        4986 non-null   object
 7   director     5000 non-null   object
 8   stars        5000 non-null   object
 9   votes        5000 non-null   object
 10  gross_earn   4585 non-null   object
dtypes: float64(1), object(10)
memory usage: 429.8+ KB

In [ ]:
import pandas as pd
from fuzzywuzzy import fuzz
# Create an empty list to store the potential matches
potential_matches = []

# Iterate over the movie titles in both datasets
for title1 in df1['title']:
    for title2 in df2['title']:
        score = fuzz.ratio(title1, title2)
        if score > 80:
            potential_matches.append((title1, title2, score))

# Create a DataFrame of potential matches
df_matches = pd.DataFrame(potential_matches, columns=['title1', 'title2', 'score'])

In [ ]:
df_matches.head()