In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

Box Office Performance of Movies with Female Leads

In [5]:
df = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Box Office Performance of Movies with Female Leads/movies.csv')

In [7]:
df.head()

,index,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
1,1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0
2,2,2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,1.0,1.0
3,3,2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0,1.0,1.0
4,4,2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0,1.0,1.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9373 entries, 0 to 9372
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9373 non-null   int64
 1   title       9373 non-null   object
 2   imdbid      9373 non-null   float64
 3   id          9373 non-null   int64
 4   rating      9373 non-null   int64
 5   year        9373 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 439.5+ KB

Movie Bechdel Test Scores

In [10]:
df_b = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Movie Bechdel Test Scores/Bechdel.csv')

In [11]:
df_b.head()

   Unnamed: 0                       title      imdbid    id  rating  year
0           0            Passage de Venus   3155794.0  9602       0  1874
1           1           La Rosace Magique  14495706.0  9804       0  1877
2           2  Sallie Gardner at a Gallop   2221420.0  9603       0  1878
3           3           Le singe musicien  12592084.0  9806       0  1878
4           4     Athlete Swinging a Pick   7816420.0  9816       0  1881

In [13]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9373 entries, 0 to 9372
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9373 non-null   int64
 1   title       9373 non-null   object
 2   imdbid      9373 non-null   float64
 3   id          9373 non-null   int64
 4   rating      9373 non-null   int64
 5   year        9373 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 439.5+ KB