In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

In [4]:
# Load the datasets and investigate 
df1 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/Movie Bechdel Test Scores/Bechdel.csv')
df2 = pd.read_csv('/Users/justynakurach/Documents/GitHub/IronHackLabs/Week 5/FINAL DATASETS SELECTION/100k_Movies_dataset.csv')

In [5]:
df1

      Unnamed: 0                       title      imdbid     id  rating  year
0              0            Passage de Venus   3155794.0   9602       0  1874
1              1           La Rosace Magique  14495706.0   9804       0  1877
2              2  Sallie Gardner at a Gallop   2221420.0   9603       0  1878
3              3           Le singe musicien  12592084.0   9806       0  1878
4              4     Athlete Swinging a Pick   7816420.0   9816       0  1881
...          ...                         ...         ...    ...     ...   ...
9368        9368                   Love Hard  10752004.0  10152       2  2021
9369        9369                     Cruella   3228774.0  10155       3  2021
9370        9370             West Side Story   3581652.0  10157       3  2021
9371        9371     Every Time a Bell Rings  15943414.0  10158       3  2021
9372        9372          Single All The Way  14315756.0  10161       3  2021

[9373 rows x 6 columns]

In [ ]:
df2
df2 = df2.rename(columns={'title': 'movie_title', 'year': 'movie_year'})

In [ ]:
#only one column in df1 needs to be droppped
df1 = df1.drop('Unnamed: 0', axis=1)

In [ ]:

from fuzzywuzzy import fuzz
# Create an empty list to store the potential matches
potential_matches = []

# Iterate over the movie titles in both datasets
for title1 in df1['title']:
    for title2 in df2['title']:
        score = fuzz.ratio(title1, title2)
        if score > 80:
            potential_matches.append((title1, title2, score))

# Create a DataFrame of potential matches
df_matches = pd.DataFrame(potential_matches, columns=['title1', 'title2', 'score'])

In [ ]:
df_matches.head()

In [ ]:
# merge the two dataframes on 'title'
merged_df = pd.merge(df1, df2, on='title', how='left')

# print the first five rows of the merged dataframe
print(merged_df.head())

In [ ]:
merged_df.info()

In [ ]:
# Calculate percentage of missing values for each column
nan_percentage = merged_df.isna().mean() * 100

# Print the percentage of missing values for each column
print(nan_percentage)

In [ ]:
# Drop rows with any missing values
df_matches_dropped = merged_df.dropna()

# Print the shape of the new dataframe
print(df_matches_dropped.shape)

In [ ]:
df_matches_dropped.head()

In [ ]:
# Check for duplicate movie titles in the final dataframe
duplicates = df_matches_dropped.duplicated(subset='title')

# Count the number of duplicates
num_duplicates = sum(duplicates)

# Print the number of duplicates
print("Number of duplicate movie titles: ", num_duplicates)

In [ ]:
# Find the duplicate movie titles
duplicates = df_matches_dropped[df_matches_dropped.duplicated(subset='title')]

# Print the duplicate movie titles
print("Duplicate movie titles:")
print(duplicates)

In [ ]:
duplicates.head()